<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Zadatci</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="idiNaPomoc()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Moji zadatci</h1>

  <ion-chip>
    <ion-icon name="add-circle" color="dark"></ion-icon>
    <ion-label>Dodaj novi zadatak</ion-label>
  </ion-chip>

  <form [formGroup]="noviZadatakObrazac" (ngSubmit)="posaljiNoviZadatakObrazac()">
    <ion-list>

      <ion-item>
        <ion-label floating>Naslov</ion-label>
        <ion-input type="text" formControlName="naslov"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Opis</ion-label>
        <ion-input type="text" formControlName="opis"></ion-input>
      </ion-item>

      <ion-item>
        <button color="secondary" ion-button type="submit" [disabled]="!noviZadatakObrazac.valid">Dodaj</button>
      </ion-item>

    </ion-list>
  </form>

  <ion-chip>
    <ion-icon name="heart" color="dark"></ion-icon>
    <ion-label>Popis zadataka</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let zadatak of zadatci; let i = index">
      <ion-icon name="apps" item-start></ion-icon>
      <h2 [style.text-decoration]="zadatak.izvrsen ? 'line-through' : 'none'">{{ zadatak.naslov }}</h2>
      <h3>{{ zadatak.opis }}</h3>

      <span item-end>
        <button ion-button large (click)="izvrsi(zadatak)">
          <span *ngIf="zadatak.izvrsen">Nije izvršen</span>
          <span *ngIf="!zadatak.izvrsen">Izvršen</span>
        </button>
        <button ion-button color="danger" large (click)="obrisi(i)">Obriši</button>
      </span>
    </ion-item>
  </ion-list>
</ion-content>